.messageMainHead {
  height: 10vh;

  background-color: whitesmoke;
  border-bottom: 0.5px solid rgb(212, 209, 209);
  display: flex;
  align-items: center;
}
.messageMainChatBox {
  height: 78vh;
  /* background-color: darkblue; */
}

.messageMainChat {
  width: 100%;
  margin: auto;
  height: 80vh;
  /* background-color: red; */
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.messageMainChat::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.messageMainSender {
  height: 10vh;
  background-color: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: center;
}
.senderInput {
  width: 80%;
  padding: 10px;
  border: 0.5px solid black;
  outline: none;
  border-radius: 20px;
  /* box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9); */
  font-size: 16px;
}
.fa-paper-plane {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(30, 19, 59);
}
.messageRightSender {
  display: flex;
  justify-content: flex-end;
}
.messageRightSenderMessage {
  background-color: hotpink;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;

  min-width: 3vw;
  max-width: 70%;
  margin-right: 10px;
}

.messageLeftReciever {
  display: flex;
  justify-content: flex-start;
}
.messageLeftSenderMessage {
  background-color: rgb(118, 181, 223);
  margin-left: 20px;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;

  min-width: 3vw;
  max-width: 70%;
}
