.searchHero {
  width: 95vw;
  overflow: hidden;
  display: flex;
}
.searchContainer {
  width: 60vw;
  /* background-color: red; */
  height: 100vh;
  overflow-y: hidden;
  /* padding: 20px; */
}
.searchContainer > div {
  margin-left: 60px;
  margin-top: 30px;
}

.inputSearch {
  font-size: 14px;
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: rgb(235, 227, 227);
}

.searchScroller {
  height: 80vh;
  width: 75%;
  /* background-color: blue; */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.searchScroller::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.searchFriendsContainer {
  width: 40vw;
  height: 100vh;
  overflow-y: hidden;
  /* background-color: green; */
}
.searchFriendsContainer > div {
  margin-top: 30px;
  margin-left: 60px;
  /* background-color: blue; */
}
.searchScrollerRight {
  height: 80vh;
  width: 80%;
  /* background-color: blue; */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.searchScrollerRight::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
